/* general css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    min-height: 100vh;
    background-color: #E8D1E5;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    min-height: 50px;
}

/* FOOTER */
footer{
    min-height: 50px;
    width: 100%;
    background-color: #764274;
    padding: 2%;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    margin-top: 2%;
    font-family: 'Agdasima', sans-serif;
    font-size: 1.5vw;
    color: white;
}
.footer-container{
    width: 80%;
    /* background-color: #98C21B; */
    margin: auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.footer-column{
    flex: 33%;
}
.footer-column img {
    vertical-align: middle;
    width: 100%;
}
.logo{
    font-family: 'Astori', sans-serif;
    font-size: 5vw;
}


/* BANNER */
.banner{
    position: relative;
    color: white;
}
#banner-image{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
#title-text{
    /* font-family: 'Brundox', sans-serif; */
    font-family: 'Astori', sans-serif;
    font-size: 15vw;
    position: absolute; /*centering text over banner image*/
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* ICONS */
#sm-icons{
    position: absolute; /* positioning of the icon group on top of banner*/
    top: 80%;
    left: 85%;
    font-size: 5vw;
    width: 15vw;
    /* background-color: antiquewhite; */
    transform: translate(-10%, -10%);
}
/* itch.io icon css */
#itch-io{
    content: url("../images/icons/itch-io-white.svg");
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
    background-color: #764274;
    padding: 2%;
}
/* github icon css */
#github{
    content: url("../images/icons/github-white.svg");
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
    background-color: #764274;
    padding: 2%;
    color: white;
}
/* linkedin icon css */
#linkedin{
    content: url("../images/icons/linkedin-white.svg");
    width: 3vw; 
    height: 3vw;
    border-radius: 10px;
    background-color: #764274;
    padding: 2%;
    color: white;
}

/* SCROLL BAR */
/* scrollbar width */
::-webkit-scrollbar {
    width: 15px;
}
/* scrollbar track bg colour */
::-webkit-scrollbar-track {
    background-color: #ACBBA5; 
}
/* scrollbar*/
::-webkit-scrollbar-thumb {
    background: #9E779D; 
    border-radius: 5px; /* border corner rouding */
}
/* scrollbar colour when hovering */
::-webkit-scrollbar-thumb:hover {
    background: #764274; 
}
/* corner where 2 scrollbars meet */
::-webkit-scrollbar-corner{
    background: #ACBBA5;
}


/* MENU */
/* menu container */
.menu{ 
    margin-top: -5px;
    width: 100%;
    font-family: 'Agdasima', sans-serif;
    font-size: 1.5vw;
}
/* main menu backround */
ul {
    margin-top: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #9E779D;
    display: flex;
    justify-content: space-between;
}
/* individual menu parts */
ul li {
    width: 16%;
    /* background-color: red; */
}
/* text of menu */
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
    letter-spacing: 1.5px;
}
/* active menu part */
li a.active {
    color: white;
    background-color: #764274;
    border-left: solid 5px; 
    border-right: solid 5px;
    font-weight: bold;
}
/* hover (does not vork on active menu part) */
li a:hover:not(.active) {
    color: #764274;
    font-weight: bold;
    /* color: white; */
    /* text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; */
}
/* no underline in menu links */
a{
    text-decoration: none;
    color: white;
}
/* mobile menu not displayed when on bigger screen */
#mobile-menu{
    display: none;
}


/* DIGITAL, TRADITIONAL, CONCEPT, MODELLING */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px; /*padding on the edge of the whole grid on the right and left*/
}
  /* Create three equal columns that sits next to each other */
.column {
    flex: 32%; 
    padding: 0 5px; /*padding on the right and left*/
}
.column img {
    margin-top: 10px; /*space on top of the images*/
    vertical-align: middle;
    width: 100%; /*making images fit the column by width*/
}
.column video {
    margin-top: 10px; /*space on top of the images*/
    vertical-align: middle;
    width: 100%; /*making images fit the column by width*/
}


/* ABOUT PAGE */
.container{
    width: 100%;
    /* background-color: red; */
    padding: 10px;
    font-family: 'Agdasima', sans-serif;
}
.about{
    font-family: 'Agdasima', sans-serif;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    padding: 5%;
    /* border: #ACBBA5; */
    border: dashed 8px #E8D1E5;
    /* border-style: dashed; */
    border-radius: 50px;
    background-color: #ACBBA5;
}
#about-img{
    width: 25%;
    float: left;
    /* background-color: #98C21B; */
    margin-right: 1%;
}
#about-text{
    float: left;
    width: 70%;
    /* background-color: blue; */
    padding: 0 15px;
    text-align: center;
}
#name{
    text-align: left;
    font-size: 3vw;
    margin-bottom: 2%;
}
#about-me{
    font-size: 1.7vw;
    text-align: left;
}
#apps-showcase{
    margin-top: 2%;
    float: left;
    width: 70%;
    /* background-color: green; */
    text-align: center;
}

#photoshop{
    content: url("../images/icons/Photoshop.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#after-effects{
    content: url("../images/icons/AfterEffects.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#krita{
    content: url("../images/icons/Krita.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#procreate{
    content: url("../images/icons/Procreate.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#blender{
    content: url("../images/icons/Blender.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#maya{
    content: url("../images/icons/Maya.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#html{
    content: url("../images/icons/HTML.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#css{
    content: url("../images/icons/CSS.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#js{
    content: url("../images/icons/JS.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#c{
    content: url("../images/icons/C++.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#python{
    content: url("../images/icons/Python.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#figma{
    content: url("../images/icons/Figma.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#canva{
    content: url("../images/icons/Canva.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
#inkscape{
    content: url("../images/icons/Inkscape.svg");
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}


.app-row{
    display: flex;
    /* flex-wrap: wrap; */
}

.app-column{
    flex: 33%;
}

.app-icon{
    margin: 1%;
    width: 8%;
}



/* WEB */
/* colour of the project titles */
.web-title{
    color: #764274;
    font-family: 'Agdasima', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}
.grid-img-web{
    margin-bottom: 0.5%;
}
.thumbnail{
    width: 40%;
    float: left;
    margin-right: 1%;
}
#description{
    /* background-color: blue; */
    width: 100%;
    height: auto;
    float: left;
    font-size: 1.5vw;
    text-align: left;
}
.detail{
    font-size: 1.5vw;
    margin-top: 0.5%;
    text-align: left;
}
#concept-doc{
    color: #98C21B;
    text-decoration: underline;
    font-size: 2vw;
}
#poem{
    width: 59%;
    margin-top: 1.5%;
    /* background-color: red; */
    float: right;
}
.in-text-link{
    font-size: 1.5vw;
    font-family: 'Agdasima', sans-serif;
    color: #764274;
    text-decoration: underline;
}


/* modal css */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(35,3,51,0.5); 
}

.close{
    color: #e4cdfe;
    float: right;
    font-size: 3.5vw;
    position: relative;
}

.close:hover, .close:focus{
    color: #7F34E0;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

#button-right:hover, #button-left:hover{
    color: #7F34E0;
    text-decoration: none;
    cursor: pointer;
}

#button-right{
    color: #e4cdfe;
    font-size: 4vw;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 2%;
}

#button-left{
    color: #e4cdfe;
    font-size: 4vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2%;
}

#gallery-portrait{
    display: block;
    margin: auto;
    max-width: 80vw;
    max-height: 100vh;

}

/* css for tablet */
@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: portrait){
    body{
        flex-wrap: wrap;
    }
    /* #menu-column{
        width: 100%;
        height: 17%;
        /* background-color: paleturquoise;  */
        /* position: relative;
        text-align: center;
    } */ 

    #mobile-menu{
        display: block;
    }

    #itch-io{
        width: 7vw;
        height: 7vw;
    }

    #github{
        width: 7vw;
        height: 7vw;
    }

    #linkedin{
        width: 7vw;
        height: 7vw;
    }

    ul {
        display: none;
        list-style-type: none;
        font-size: 4vw;
        width: 100%;
        margin: 0;
    }
    
    li a {
        display: block;
        color: black;
        padding: 2.5%;
        text-decoration: none;
    }

    #sm-icons{
        display: none;
        width: 100%;
        padding: 0%;
    }
    .fa{
        margin: 0;
        padding-top: 1%;
        left: 0;
        width: 5vw;
        height: 5vw;
    }
    .fa-bars{
        display: none;
        color: black;
        padding-top: 5%;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    .grid-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-container-about{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        /* background-color: rgb(212, 167, 255); */
    }

}

@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape){
    body{
        flex-wrap: wrap;
    }
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* css for mobile */
@media screen and (max-width: 600px){
    #banner-image{
        height: 20vh;
        object-fit: cover;
    }
    #title-text{
        font-size: 20vw;
    }

    /* ABOUT */
    #about-img{
        width: 100%;
        margin-bottom: 1%;
    }  
    #about-text{
        width: 100%;
    }
    #name{
        text-align: center;
        font-size: 8vw;
    }   
    #about-me{
        font-size: 6vw;
    }
    #photoshop{
        width: 25vw;
        height: 25vw;
    }
    #after-effects{
        width: 25vw;
        height: 25vw;
    }
    #krita{
        width: 25vw;
        height: 25vw;
    }
    #procreate{
        width: 25vw;
        height: 25vw;
    }
    #blender{
        width: 25vw;
        height: 25vw;
    }
    #maya{
        width: 25vw;
        height: 25vw;
    }
    #html{
        width: 25vw;
        height: 25vw;
    }
    #css{
        width: 25vw;
        height: 25vw;
    }
    #js{
        width: 25vw;
        height: 25vw;
    }
    #c{
        width: 25vw;
        height: 25vw;
    }
    #python{
        width: 25vw;
        height: 25vw;
    }
    #figma{
        width: 25vw;
        height: 25vw;
    }
    #canva{
        width: 25vw;
        height: 25vw;
    }
    #inkscape{
        width: 25vw;
        height: 25vw;
    }
    #apps-showcase{
        width: 100%;
        /* background-color: #98C21B; */
    }
    .app-row{
        display: flex;
        flex-wrap: wrap;
    }
    .app-column{
        margin-top: 15%;
        flex: 100%;
    }

    /* FOOTER */
    footer{
        font-size: 4vw;
    }
    .footer-container{
        width: 100%;
    }
    .footer-column{
        flex: 100%;
        margin-top: 5%;
    }
    .footer-column img {
        vertical-align: middle;
        width: 100%;
    }
    .logo{
        font-family: 'Astori', sans-serif;
        font-size: 10vw;
    }

    /* MENU */
    #mobile-menu{
        display: block;
        content: url("../images/icons/burger.svg");
        position: absolute; /* positioning of the icon group on top of banner */
        top: 0%;
        left: 0%;
        width: 10vw;
        height: 10vw;
        padding: 0.3%;
    }
    ul li a {
        background-color: #7F34E0;
        width: 100%;
    }
    #itch-io{
        width: 10vw;
    }
    #github{
        width: 10vw;
        height: 10vw;
    }
    #linkedin{
        width: 10vw;
        height: 10vw;
    }
    #sm-icons{
        display: none;
        width: 100%;
        /* background-color: antiquewhite; */
    }
    
    /* DIGITAL, TRADITIONAL, CONCEPT, MODELLING */
    /* Create two equal columns that sits next to each other */
    .column {
        flex: 100%; 
    }

    /* WEB */
    .web-title{
        font-size: 5vw;
    }
    .thumbnail{
        width: 100%;
    }
    #description{
        padding: 4%;
    }
    .detail{
        font-size: 5vw;

    }
    .title{
        text-align: left;
        font-size: 9vw;
    }
    #poem{
        width: 100%;
        margin-top: 6%;
        font-size: 5vw;
    }
    .in-text-link{
        font-size: 5vw;
    }
    #concept-doc{
        font-size: 6vw;
    }
}
