/* general css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    min-height: 100vh;
    background-color: #FEE9FF;
    width: 100%;
}

/* BANNER */
.banner{
    position: relative;
    color: white;
}
#banner-image{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
#title-text{
    /* font-family: 'Brundox', sans-serif; */
    font-family: 'Astori', sans-serif;
    font-size: 15vw;
    position: absolute; /*centering text over banner image*/
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ICONS */
#sm-icons{
    position: absolute; /* positioning of the icon group on top of banner*/
    top: 80%;
    left: 85%;
    font-size: 5vw;
    width: 15vw;
    /* background-color: antiquewhite; */
    transform: translate(-10%, -10%);
}
/* itch.io icon css */
#itch-io{
    content: url("../images/icons/itch-io-white.svg");
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
    background-color: #EDB0F1;
    padding: 2%;
    color: white;
}
/* github icon css */
#github{
    content: url("../images/icons/github-white.svg");
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
    background-color: #EDB0F1;
    padding: 2%;
    color: white;
}
/* linkedin icon css */
#linkedin{
    content: url("../images/icons/linkedin-white.svg");
    width: 3vw; 
    height: 3vw;
    border-radius: 10px;
    background-color: #EDB0F1;
    padding: 2%;
    color: white;
}

/* SCROLL BAR */
/* scrollbar width */
::-webkit-scrollbar {
    width: 15px;
}
/* scrollbar track bg colour */
::-webkit-scrollbar-track {
    background-color: #edffaa; 
}
/* scrollbar*/
::-webkit-scrollbar-thumb {
    background: #EDB0F1; 
    border-radius: 5px; /* border corner rouding */
}
/* scrollbar colour when hovering */
::-webkit-scrollbar-thumb:hover {
    background: #D937E5; 
}
/* corner where 2 scrollbars meet */
::-webkit-scrollbar-corner{
    background: #edffaa;
}



/* MENU */
/* menu container */
.menu{ 
    margin-top: -5px;
    width: 100%;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 1.5vw;
}
/* main menu backround */
ul {
    margin-top: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #EDB0F1;
    display: flex;
    justify-content: space-between;
}
/* individual menu parts */
ul li {
    width: 16%;
    /* background-color: red; */
}
/* text of menu */
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
}
/* active menu part */
li a.active {
    color: #D937E5;
    background-color: #EDFFAA;
    border-left: solid 5px; 
    border-right: solid 5px;
}
/* hover (does not vork on active menu part) */
li a:hover:not(.active) {
    color: #D937E5;
}
/* no underline in menu links */
a{
    text-decoration: none;
    color: white;
}
/* mobile menu not displayed when on bigger screen */
#mobile-menu{
    display: none;
}

/* DIGITAL, TRADITIONAL, CONCEPT, MODELLING */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px; /*padding on the edge of the whole grid on the right and left*/
}
  /* Create three equal columns that sits next to each other */
.column {
    flex: 32%; 
    padding: 0 5px; /*padding on the right and left*/
}
.column img {
    margin-top: 10px; /*space on top of the images*/
    vertical-align: middle;
    width: 100%; /*making images fit the column by width*/
}

/* ABOUT PAGE */
.container{
    width: 100%;
    /* background-color: red; */
    padding: 10px;
    font-family: 'Ubuntu Mono', sans-serif;
}

#about-img{
    width: 30%;
    float: left;
}

#about-text{
    float: left;
    width: 70%;
    /* background-color: blue; */
    padding: 0 15px;
    text-align: center;
}
#name{
    font-size: 3vw;
}

#about-me{
    font-size: 1.5vw;
    margin-top: 10px;
    text-align: left;
}

#apps-showcase{
    float: left;
    width: 70%;
    margin-top: 5%;
    background-color: green;
    padding: 0 15px;
    text-align: center;
}

/* WEB */
/* colour of the project titles */
.web-title{
    color: #D937E5;
}
.grid-img-web{
    margin-bottom: 10px;
}
.thumbnail{
    width: 40%;
    float: left;
    margin-right: 15px;
}
#description{
    /* background-color: blue; */
    width: 100%;
    height: auto;
    float: left;
    font-size: 1.5vw;
    text-align: left;
}

.title{
    /* background-color: green; */
    text-align: left;
}

.detail{
    font-size: 1.5vw;
    margin-top: 10px;
    text-align: left;
}

/* modal css */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(35,3,51,0.5);
    
}

.close{
    color: #e4cdfe;
    float: right;
    font-size: 3.5vw;
    position: relative;
}

.close:hover, .close:focus{
    color: #7F34E0;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

#button-right:hover, #button-left:hover{
    color: #7F34E0;
    text-decoration: none;
    cursor: pointer;
}

#button-right{
    color: #e4cdfe;
    font-size: 4vw;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 2%;
}

#button-left{
    color: #e4cdfe;
    font-size: 4vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2%;
}

#gallery-portrait{
    display: block;
    margin: auto;
    max-width: 80vw;
    max-height: 100vh;

}

/* css for tablet */
@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: portrait){
    body{
        flex-wrap: wrap;
    }
    #menu-column{
        width: 100%;
        height: 17%;
        /* background-color: paleturquoise;  */
        position: relative;
        text-align: center;
    }
    #logo{
        width: 30vw;
        margin: 5% 0%;
    }

    #mobile-menu{
        display: block;
    }

    #itch-io{
        width: 7vw;
        height: 7vw;
    }

    #github{
        width: 7vw;
        height: 7vw;
    }

    #linkedin{
        width: 7vw;
        height: 7vw;
    }

    ul {
        display: none;
        list-style-type: none;
        font-weight: bold;
        font-size: 4vw;
        width: 100%;
        margin: 0;
    }
    
    li a {
        display: block;
        color: black;
        padding: 2.5%;
        text-decoration: none;
    }
    
    li a.active {
        background: linear-gradient(#7F34E0, #ce82ff);
        color: white;
    }
    #sm-icons{
        display: none;
        width: 100%;
        padding: 0%;
        /* background-color: antiquewhite; */
    }
    .fa{
        margin: 0;
        padding-top: 1%;
        left: 0;
        width: 5vw;
        height: 5vw;
    }

    .fa-bars{
        display: none;
        color: black;
        padding-top: 5%;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    .grid-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-container-about{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        /* background-color: rgb(212, 167, 255); */
    }

    h1{
        text-align: center;
        font-size: 6vw;
    }
    
    p{
        font-family: 'Nineteenth', sans-serif;
        font-size: 4vw;
        padding: 4%;
    }

}

@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape){
    body{
        flex-wrap: wrap;
    }
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* css for mobile */
@media screen and (max-width: 600px){
    body{
        flex-wrap: wrap;
    }
    #menu-column{
        width: 100%;
        height: 17%;
        /* background-color: paleturquoise;  */
        position: relative;
        text-align: center;
    }
    #logo{
        width: 30vw;
        margin: 5% 0%;
    }

    #mobile-menu{
        display: block;
    }

    #itch-io{
        width: 7vw;
        height: 7vw;
    }

    #github{
        width: 7vw;
        height: 7vw;
    }

    #linkedin{
        width: 7vw;
        height: 7vw;
    }

    ul {
        display: none;
        list-style-type: none;
        font-weight: bold;
        font-size: 4vw;
        width: 100%;
        margin: 0;
    }
    
    li a {
        display: block;
        color: black;
        padding: 2.5%;
        text-decoration: none;
    }
    
    li a.active {
        background: linear-gradient(#7F34E0, #ce82ff);
        color: white;
    }
    #sm-icons{
        display: none;
        width: 100%;
        /* background-color: antiquewhite; */
    }
    .fa{
        margin: 0;
        padding-top: 1%;
        left: 0;
        width: 5vw;
        height: 5vw;
    }

    .fa-bars{
        display: none;
        color: black;
        padding-top: 5%;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    .grid-container{
        width: 100%;
        padding: 1%;
        grid-template-columns: 1fr;
    }
    .grid-container-about{
        width: 100%;
        padding: 1%;
        grid-template-columns: 1fr;
    }
    .grid-container-web{
        width: 100%;
        padding: 1%;
        grid-template-columns: 1fr;
    }
    .detail-grid{
        width: 100%;
        padding: 1%;
        grid-template-columns: 1fr;
    }

    .title{
        text-align: left;
    }
    
    .detail{
        font-size: 5vw;
    }

    #name{
        text-align: center;
        font-size: 6vw;
    }
    
    #about-me{
        font-family: 'Nineteenth', sans-serif;
        font-size: 4vw;
        padding: 4%;
    }

    #gallery-portrait{
        display: block;
        margin: 0 auto;
        height: 100vw;
    }
}
