/* general css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    min-height: 100vh;
    background-color: #E8D1E5;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    min-height: 50px;
}

/* FOOTER */
footer{
    min-height: 50px;
    width: 100%;
    background-color: #764274;
    padding: 2%;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    margin-top: 2%;
    font-family: 'Agdasima', sans-serif;
    font-size: 1.5vw;
    color: white;
}
.footer-container{
    width: 80%;
    /* background-color: #98C21B; */
    margin: auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.footer-column{
    flex: 33%;
}
.footer-column img {
    vertical-align: middle;
    width: 100%;
}
.logo{
    font-family: 'Astori', sans-serif;
    font-size: 5vw;
}


/* BANNER */
.banner{
    position: relative;
    color: white;
}
#banner-image{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
#title-text{
    /* font-family: 'Brundox', sans-serif; */
    font-family: 'Astori', sans-serif;
    font-size: 15vw;
    position: absolute; /*centering text over banner image*/
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* ICONS */
#sm-icons{
    position: absolute; /* positioning of the icon group on top of banner*/
    top: 80%;
    left: 85%;
    font-size: 5vw;
    width: 15vw;
    /* background-color: antiquewhite; */
    transform: translate(-10%, -10%);
}
.contact-icons{
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
    background-color: #764274;
    padding: 3%;
}

/* SCROLL BAR */
/* scrollbar width */
::-webkit-scrollbar {
    width: 15px;
}
/* scrollbar track bg colour */
::-webkit-scrollbar-track {
    background-color: #ACBBA5; 
}
/* scrollbar*/
::-webkit-scrollbar-thumb {
    background: #9E779D; 
    border-radius: 5px; /* border corner rouding */
}
/* scrollbar colour when hovering */
::-webkit-scrollbar-thumb:hover {
    background: #764274; 
}
/* corner where 2 scrollbars meet */
::-webkit-scrollbar-corner{
    background: #ACBBA5;
}


/* MENU */
/* menu container */
.menu{ 
    margin-top: -5px;
    width: 100%;
    font-family: 'Agdasima', sans-serif;
    font-size: 1.5vw;
}
/* main menu backround */
ul {
    margin-top: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #9E779D;
    display: flex;
    justify-content: space-between;
}
/* individual menu parts */
ul li {
    width: 16%;
    /* background-color: red; */
}
/* text of menu */
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
    letter-spacing: 1.5px;
}
/* active menu part */
li a.active {
    color: white;
    background-color: #764274;
    border-left: solid 5px; 
    border-right: solid 5px;
    font-weight: bold;
}
/* hover (does not vork on active menu part) */
li a:hover:not(.active) {
    color: #764274;
    font-weight: bold;
    /* color: white; */
    /* text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; */
}
/* no underline in menu links */
a{
    text-decoration: none;
    color: white;
}
/* mobile menu not displayed when on bigger screen */
#mobile-menu{
    display: none;
}


/* DIGITAL, TRADITIONAL, CONCEPT, MODELLING */
.grid-container{
    columns: 300px;
    padding: 1em;
}
.grid-container img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5em;
}

.grid-container-web{
    columns: 500px;
    padding: 1em;
}
.grid-container-web img{
    width: 100%;
}

.grid-container-detail{
    columns: 450px;
    padding: 1em;
}
.grid-container-detail img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5em;
}
.grid-container-detail video{
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5em;
}

/* ABOUT PAGE */
.container{
    width: 100%;
    /* background-color: red; */
    padding: 10px;
    font-family: 'Agdasima', sans-serif;
}
.about{
    font-family: 'Agdasima', sans-serif;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    padding: 5%;
    /* border: #ACBBA5; */
    border: dashed 8px #E8D1E5;
    /* border-style: dashed; */
    border-radius: 50px;
    background-color: #ACBBA5;
}
#about-img{
    width: 25%;
    float: left;
    /* background-color: #98C21B; */
    margin-right: 1%;
}
#about-text{
    float: left;
    width: 70%;
    /* background-color: blue; */
    padding: 0 15px;
    text-align: center;
}
#name{
    text-align: left;
    font-size: 3vw;
    margin-bottom: 2%;
}
#about-me{
    font-size: 1.7vw;
    text-align: left;
}
#apps-showcase{
    margin-top: 2%;
    float: left;
    width: 70%;
    /* background-color: green; */
    text-align: center;
}
.about-icons{
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
.app-row{
    display: flex;
    /* flex-wrap: wrap; */
}
.app-column{
    flex: 33%;
}
.app-icon{
    margin: 1%;
    width: 8%;
}
.project-showcase{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    padding: 5%;
    background-color: #9E779D;
    font-family: 'Agdasima', sans-serif;
}
.title{
    font-size: 3vw;
}
.project-thumbnail{
    width: 40%;
    border-radius: 10px;
    float: left;
    margin-right: 2%;
}
.project-name{
    font-size: 2vw;
}
.project-description{
    font-size: 1.5vw;
}



/* WEB */
/* colour of the project titles */
.web-title{
    color: #764274;
    font-family: 'Agdasima', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}
.grid-img-web{
    margin-bottom: 0.5%;
}
.thumbnail{
    width: 40%;
    float: left;
    margin-right: 1%;
}
#description{
    /* background-color: blue; */
    width: 100%;
    height: auto;
    float: left;
    font-size: 1.5vw;
    text-align: left;
}
.detail{
    font-size: 1.5vw;
    margin-top: 0.5%;
    text-align: left;
}
#concept-doc{
    color: #98C21B;
    text-decoration: underline;
    font-size: 2vw;
}
#poem{
    width: 59%;
    margin-top: 1.5%;
    /* background-color: red; */
    float: right;
}
.in-text-link{
    font-size: 1.5vw;
    font-family: 'Agdasima', sans-serif;
    color: #764274;
    text-decoration: underline;
}


/* modal css */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(51, 3, 51, 0.5); 
    font-family: 'Astori', sans-serif;
}

.modal img{
    display: block;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 100vh;
}

.close{
    color: #ACBBA5;
    float: right;
    font-size: 4vw;
    position: relative;
}

.close:hover, .close:focus{
    color: #84937D;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

#button-right:hover, #button-left:hover{
    color: #84937D;
    text-decoration: none;
    cursor: pointer;
}

#button-right{
    color: #ACBBA5;
    font-size: 4vw;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 2%;
}

#button-left{
    color: #ACBBA5;
    font-size: 4vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2%;
}


/* css for tablet */
@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: portrait){
    #banner-image{
        height: 40vh;
        object-fit: cover;
    }
    #title-text{
        font-size: 20vw;
    }

    /* ABOUT */
    #about-img{
        width: 100%;
        margin-bottom: 1%;
    }  
    #about-text{
        width: 100%;
    }
    #name{
        text-align: center;
        font-size: 8vw;
    }   
    #about-me{
        font-size: 6vw;
    }
    .about-icons{
        width: 25vw;
        height: 25vw;
    }
    #apps-showcase{
        width: 100%;
        /* background-color: #98C21B; */
    }
    .app-row{
        display: flex;
        flex-wrap: wrap;
    }
    .app-column{
        margin-top: 15%;
        flex: 100%;
    }

    /* FOOTER */
    footer{
        font-size: 4vw;
    }
    .footer-container{
        width: 100%;
    }
    .footer-column{
        flex: 100%;
        margin-top: 5%;
    }
    .footer-column img {
        vertical-align: middle;
        width: 100%;
    }
    .logo{
        font-family: 'Astori', sans-serif;
        font-size: 10vw;
    }

    /* MENU */
    #mobile-menu{
        display: block;
        content: url("../images/icons/burger.svg");
        position: absolute; /* positioning of the icon group on top of banner */
        top: 0%;
        left: 0%;
        width: 10vw;
        height: 10vw;
        padding: 0.3%;
    }
    ul {
        display: none;
    }
    ul li a {
        background-color: #7F34E0;
        width: 100%;
    }
    #sm-icons{
        display: none;
        width: 100%;
        /* background-color: antiquewhite; */
    }
    .contact-icons{
        width: 10vw;
        height: 10vw;
    }
    /* WEB */
    .web-title{
        font-size: 4vw;
    }
    .thumbnail{
        width: 100%;
    }
    #description{
        padding: 4%;
    }
    .detail{
        font-size: 5vw;

    }
    .title{
        text-align: left;
        font-size: 9vw;
    }
    #poem{
        width: 100%;
        margin-top: 6%;
        font-size: 5vw;
    }
    .in-text-link{
        font-size: 5vw;
    }
    #concept-doc{
        font-size: 6vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape){
    #banner-image{
        height: 40vh;
        object-fit: cover;
    }
    #itch-io{
        border-radius: 5px;
    }
    /* github icon css */
    #github{
        border-radius: 5px;
    }
    /* linkedin icon css */
    #linkedin{
        border-radius: 5px;
    }
}

/* css for mobile */
@media screen and (max-width: 600px){
    #banner-image{
        height: 20vh;
        object-fit: cover;
    }
    #title-text{
        font-size: 20vw;
    }

    /* ABOUT */
    #about-img{
        width: 100%;
        margin-bottom: 1%;
    }  
    #about-text{
        width: 100%;
    }
    #name{
        text-align: center;
        font-size: 8vw;
    }   
    #about-me{
        font-size: 6vw;
    }
    .about-icons{
        width: 25vw;
        height: 25vw;
        padding: 0.3%;
    }
    #apps-showcase{
        width: 100%;
        /* background-color: #98C21B; */
    }
    .app-row{
        display: flex;
        flex-wrap: wrap;
    }
    .app-column{
        margin-top: 15%;
        flex: 100%;
    }

    /* FOOTER */
    footer{
        font-size: 4vw;
    }
    .footer-container{
        width: 100%;
    }
    .footer-column{
        flex: 100%;
        margin-top: 5%;
    }
    .footer-column img {
        vertical-align: middle;
        width: 100%;
    }
    .logo{
        font-family: 'Astori', sans-serif;
        font-size: 10vw;
    }

    /* MENU */
    #mobile-menu{
        display: block;
        content: url("../images/icons/burger.svg");
        position: absolute; /* positioning of the icon group on top of banner*/
        top: 0%;
        left: 0%;
        width: 12vw;


    }
    ul {
        display: none;
    }
    ul li a {
        /* background-color: #7F34E0; */
        font-size: 5vw;
        width: 100vw;
    }
    #sm-icons{
        display: none;
        width: 40%;
        /* background-color: antiquewhite; */
        position: absolute; /* positioning of the icon group on top of banner*/
        top: 75%;
        left: 40%;
        font-size: 5vw;
    }
    .contact-icons{
        width: 10vw;
        height: 10vw;
    }
    

    /* WEB */
    .web-title{
        font-size: 5vw;
    }
    .thumbnail{
        width: 100%;
    }
    #description{
        padding: 4%;
    }
    .detail{
        font-size: 5vw;

    }
    .title{
        text-align: left;
        font-size: 9vw;
    }
    #poem{
        width: 100%;
        margin-top: 6%;
        font-size: 5vw;
    }
    .in-text-link{
        font-size: 5vw;
    }
    #concept-doc{
        font-size: 6vw;
    }
}
